




<nav class="navbar navbar-default" style="background-color: #fc6f73; border-color: #fc6f73;">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><img src="/assets/logo_white.png" alt="" height="42" width="42" style="margin-top:-4px"/></a>
    <ul class="nav navbar-nav navbar-right hidden-xs">
      <li><a href="https://twitter.com/napknapps"><img src="/assets/twitter_logo_white.png" alt="" height="33" width="40"/></a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-10">

      <div class="title">
        App Ideas
      </div>

      <% @app_ideas.each do |app_idea| %>
        <div class="answer">
          <p><%= app_idea.tweet %>, <%= link_to 'Show', app_idea %>, <%= link_to 'Edit', edit_app_idea_path(app_idea) %>, <%= link_to 'Destroy', app_idea, method: :delete, data: { confirm: 'Are you sure?' } %></p>
        </div>
      <% end %>
      
      <br>

      <%= link_to 'New App idea', new_app_idea_path %>

    </div>
  </div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
