<!DOCTYPE html>
<html>
<head>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%= analytics_init if Rails.env.production? %>
  
  <title>Napkn</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default hidden-xs">
  <div class="container-fluid">
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><img src="/assets/twitter_logo.png" alt="" height="33" width="40"/></a></li>
      <li><a href="#"><img src="/assets/overcast_logo.png" alt="" height="36" width="36"/></a></li>
    </ul>
  </div>
</nav>

<%= yield %>

</body>
</html>
